* {
	overflow: hidden;
}

footer {
	position: relative;
	z-index: 1;
	margin-top: -10%;
}

body[data-page="Journal"] section {
	margin-bottom: 0;
}

.journal-page {
	width: 100%;
	min-height: calc(100vh - 2rem);
	display: flex;
	flex-direction: column;
	align-items: baseline;
	color: #333;
	background-color: rgb(230, 221, 198);
	border-radius: 4rem 4rem 0 0;
	gap: 1rem;
	overflow: hidden;
	margin-top: 2rem;
	padding-bottom: 0;
	z-index: 0;
}

.journal-page > :not(.hr) {
	padding: 1.5rem 3rem 1.5rem 3rem;
}

.journal-page div {
	width: 100%;
}

hr {
	width: 100%;
	border: none;
	height: 2px;
	background-color: #ccc;
}
