/* Socials Page */
.social-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
}

.social {
	width: 100%;
	background-color: rgba(70, 65, 75, 0.8);
	border-radius: 1rem;
	gap: 1.5rem;
	display: flex;
	justify-content: center;
}

.social select {
	visibility: hidden;
	height: 0;
	width: 0;
}

.social form {
	width: 100%;
}

.social__content {
	width: 100%;
	max-width: 1fr;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
	padding: 0 1rem;
	padding-bottom: 0.5rem;
	gap: 2rem;
}

.social__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	gap: 0.5rem;
}

.social__item img {
	height: clamp(32px, 8vw, 96px);
	cursor: pointer;
	background-color: transparent;
	border-radius: 12px;
	transition:
		ease background-color 0.3s,
		ease transform 0.3s;
}

.social__line {
	height: 4px;
	background-color: transparent;
	width: 70%;
	margin: 0 auto;
	border-radius: 4px;
	transition: ease background-color 0.3s;
}

.social__line--selected {
	height: 4px;
	background-color: #ececec;
	width: 70%;
	margin: 0 auto;
	border-radius: 4px;
	transition: ease background-color 0.3s;
}

.social__card {
	max-width: 320px;
	background-color: rgba(70, 65, 75, 0.8);
	border-radius: 1rem;
	margin-top: 1rem;
	overflow: hidden;
	max-height: 150px;
	transition: max-height 0.4s ease;
}

.social__profile {
	height: clamp(64px, 44vw, 128px);
	min-width: clamp(64px, 44vw, 128px);
	border-radius: 50%;
	border: 4px solid rgba(70, 65, 75, 0.8);
	box-sizing: border-box;
	transform: translateX(10px);
	margin: 1rem 0;
	z-index: 1;
}

.social__profile--banner {
	height: clamp(64px, 44vw, 128px);
	border-radius: 50%;
	border: 4px solid rgba(70, 65, 75, 0.8);
	box-sizing: border-box;
	z-index: 1;
	transform: translateX(10px);
	margin-top: -25%;
}

.social__banner {
	width: auto;
	min-width: 100%;
	height: clamp(96px, 18vw, 172px);
	border-radius: 12px;
	object-fit: cover;
	align-self: center;
}

.social__greeting {
	padding: 0 1rem;
	align-self: flex-start;
}

.social__description {
	padding: 0 1rem;
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
	color: #c2c2c2;
}

.social__instagram {
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
	align-items: center;
}

.social__instagram--username {
	font-weight: 300;
}

.social__github--username {
	font-weight: 300;
	color: #c2c2c2;
}

.social__details {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-between;
	text-wrap-mode: wrap;
	text-align: left;
	transition: opacity 0.3s ease;
}

.social__details h1 {
	padding: 0 1rem;
}

.social__details h3 {
	padding: 0 1rem;
}

.social__details h4 {
	padding: 0 1rem;
}

.social__details h5 {
	padding: 0 1rem;
}

.social__details p {
	padding: 0 1rem;
}

.social__details form {
	height: fit-content;
	width: 100%;
	padding: 1rem;
}

.social__details button {
	width: 100%;
	padding: 1rem;
}
