/* Font */
.silkscreen-regular {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.silkscreen-bold {
	font-family: "Silkscreen", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* Reset and Base Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, sans-serif;
	line-height: 1.6;
	color: #f3f3f3;
	--pattern-max: 640px;
	background-image:
		url("Assets/Texture/Pattern_L.png"), url("Assets/Texture/Pattern_R.png"),
		linear-gradient(180deg, #232344 0%, #18181b 90%);
	background-position:
		left top,
		right top,
		center;
	background-repeat: repeat-y, repeat-y, no-repeat;
	background-size:
		min(50vw, var(--pattern-max)) auto,
		min(50vw, var(--pattern-max)) auto,
		100% 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Header and Navigation */
header {
	background-color: #1a1a3290;
	line-height: 1;
	padding: 1rem 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

nav h1 {
	font-size: 1.5rem;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

nav a {
	color: #c2c2c2;
	text-decoration: none;
	transition: opacity 0.3s;
}

nav a:hover {
	opacity: 0.8;
}

/* Main Content */
main {
	flex: 1;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

section {
	margin-bottom: 3rem;
}

.hero {
	width: 100vw;
	height: auto;
	min-height: clamp(360px, 45vh, 560px);
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	padding: 4rem 2rem;
	text-align: center;
	background-color: #18181b;
	overflow: hidden;
	display: grid;
	place-items: center;
	position: relative;
	transition:
		ease height 0.5s,
		ease padding 0.5s;
}

.hero > * {
	grid-area: 1 / 1;
}

.hero > :not(.banner) {
	/* Constrain hero text to max-width */
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

.hero h1 {
	font-size: 2.5rem;
	transition: ease font-size 0.5s;
}

.hero h3 {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	transition: ease font-size 0.5s;
}

.banner {
	width: 100%;
	height: clamp(320px, 18vw, 360px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
	transition:
		ease height 0.5s,
		ease margin 0.5s,
		ease padding 0.5s;
}

.face {
	display: flex;
	gap: clamp(128px, 20vw, 220px);
	position: relative;
	will-change: transform;
}

.eye-container {
	position: relative;
	will-change: transform;
}

.eye {
	width: clamp(96px, 12vw, 128px);
	height: auto;
	display: block;
	transform-origin: center center;
	animation: blink 4s infinite;
}

.mouth {
	width: clamp(192px, 20vw, 220px);
	height: auto;
	position: absolute;
	top: 100%;
	margin-top: clamp(24px, 4vw, 48px);
	left: 50%;
	margin-left: calc(clamp(192px, 20vw, 220px) / -2);
	will-change: transform;
}

.blur {
	--blur_amount: 4px;
	position: absolute;
	inset: 0; /* fill the section */
	width: 100%;
	height: 100%;
	backdrop-filter: blur(var(--blur_amount));
	-webkit-backdrop-filter: blur(var(--blur_amount)); /* Safari support */
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	z-index: 1;
	transition: opacity 0.8s ease;
}

.content {
	margin: 2rem;
	text-align: left;
}

.content h3 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.content p {
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}

.content a {
	color: #8292da;
	text-decoration: underline;
}

button {
	background-color: white;
	color: #5c6798;
	border: none;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}

button:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
	color: #f3f3f3;
	background-image: linear-gradient(180deg, #23234400 0%, rgb(24, 24, 27) 90%);
	text-align: center;
	padding: 1rem;
	font-size: 0.9rem;
}

footer a {
	color: #c2c2c2;
	text-decoration: underline;
}

/* Socials Page */
.social-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
}

.social {
	width: 100%;
	background-color: rgba(70, 65, 75, 0.8);
	border-radius: 1rem;
	gap: 1.5rem;
	display: flex;
	justify-content: center;
}

.social select {
	visibility: hidden;
	height: 0;
	width: 0;
}

.social form {
	width: 100%;
}

.social__content {
	width: 100%;
	max-width: 1fr;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
	padding: 0 1rem;
	padding-bottom: 0.5rem;
	gap: 2rem;
}

.social__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	gap: 0.5rem;
}

.social__item img {
	height: clamp(32px, 8vw, 96px);
	cursor: pointer;
	background-color: transparent;
	border-radius: 12px;
	transition:
		ease background-color 0.3s,
		ease transform 0.3s;
}

.social__line {
	height: 4px;
	background-color: transparent;
	width: 70%;
	margin: 0 auto;
	border-radius: 4px;
	transition: ease background-color 0.3s;
}

.social__line--selected {
	height: 4px;
	background-color: #ececec;
	width: 70%;
	margin: 0 auto;
	border-radius: 4px;
	transition: ease background-color 0.3s;
}

.social__card {
	max-width: 320px;
	background-color: rgba(70, 65, 75, 0.8);
	border-radius: 1rem;
	margin-top: 1rem;
	overflow: hidden;
	max-height: 150px;
	transition: max-height 0.4s ease;
}

.social__profile {
	height: clamp(64px, 44vw, 128px);
	border-radius: 50%;
	border: 4px solid rgba(70, 65, 75, 0.8);
	box-sizing: border-box;
	transform: translateX(10px);
	margin: 1rem 0;
	z-index: 1;
}

.social__profile--banner {
	height: clamp(64px, 44vw, 128px);
	border-radius: 50%;
	border: 4px solid rgba(70, 65, 75, 0.8);
	box-sizing: border-box;
	z-index: 1;
	transform: translateX(10px);
	margin-top: -25%;
}

.social__banner {
	width: auto;
	min-width: 100%;
	height: clamp(96px, 18vw, 172px);
	border-radius: 12px;
	object-fit: cover;
	align-self: center;
}

.social__greeting {
	padding: 0 1rem;
	align-self: flex-start;
}

.social__description {
	padding: 0 1rem;
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
	color: #c2c2c2;
}

.social__instagram {
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
	align-items: center;
}

.social__instagram--username {
	font-weight: 300;
}

.social__github--username {
	font-weight: 300;
	color: #c2c2c2;
}

.social__details {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-between;
	text-wrap-mode: wrap;
	text-align: left;
	transition: opacity 0.3s ease;
}

.social__details h1 {
	padding: 0 1rem;
}

.social__details h3 {
	padding: 0 1rem;
}

.social__details h4 {
	padding: 0 1rem;
}

.social__details h5 {
	padding: 0 1rem;
}

.social__details p {
	padding: 0 1rem;
}

.social__details form {
	height: fit-content;
	width: 100%;
	padding: 1rem;
}

.social__details button {
	width: 100%;
	padding: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
	nav {
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
	}

	nav ul {
		gap: 1rem;
	}

	.hero h2 {
		font-size: 2rem;
	}
}

@media (max-aspect-ratio: 3/4) {
	.hero {
		height: auto;
		min-height: calc(100vh - var(--header-height, 0px));
		display: flex;
		flex-direction: column;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.blur {
		opacity: 0;
	}
}

@keyframes blink {
	0%,
	90%,
	100% {
		transform: scaleY(1);
	}
	95% {
		transform: scaleY(0);
	}
}

@media (min-aspect-ratio: 3/1) {
	.social__banner {
		height: clamp(96px, 30vw, 192px);
	}
}
